<div class="card mb-2">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h3>{{ task.title }}</h3>
        <div>
            <button (click)="task.hide = !task.hide" class="btn btn-primary">
                Mostrar
            </button>
            <button (click)="deleteTask(task)" class="btn btn-danger">
                Borrar
            </button>
        </div>
    </div>
    <div class="card-body" [hidden]="task.hide">
        <p><b>Usuario: </b>{{task.usuario}}</p>
        <p><b>Description: </b>{{task.description}}</p>
        <p><b>Cantidad: </b>{{task.cantidad}}</p>
    </div>
</div>