<div class="card">
  <div class="card-body">
    <!-- FORM TO ADD TASKS -->
    <form (submit)="addTask(newTitle, newDescription, newUsuario, newCantidad)">
      <div class="form-group">
        <input type="text" placeholder="Nombre Producto" id="title" #newTitle class="form-control">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Nombre Usuario" #newUsuario id="usuario" class="form-control">
      </div>
      <div class="form-group">
        <input type="text" placeholder="Cantidad" #newCantidad id="Cantidad" class="form-control">
      </div>
      <div class="form-group">
        <textarea #newDescription cols="30" rows="3" class="form-control" id="Description" placeholder="Descripcion"></textarea>
      </div>
      <button type="submit" class="btn btn-success btn-block">Agregar</button>
      <button type="button" routerLink="/almacen2"  class="btn btn-info btn-block"> Modificar Producto</button>
    </form>
  </div>
</div>
